mkolaric1_aplikacija_3_2/src/conf/xml-resources/web-service-references/AIRPWS/wsdl/localhost_8084/mkolaric1_aplikacija_1/AIRPWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.mkolaric1.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.mkolaric1.nwtis.foi.org/" name="AIRPWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.mkolaric1.nwtis.foi.org/" schemaLocation="http://localhost:8084/mkolaric1_aplikacija_1/AIRPWS?xsd=1"/>
</xsd:schema>
</types>
<message name="pretvoriUString">
<part name="parameters" element="tns:pretvoriUString"/>
</message>
<message name="pretvoriUStringResponse">
<part name="parameters" element="tns:pretvoriUStringResponse"/>
</message>
<message name="unosUDnevnik">
<part name="parameters" element="tns:unosUDnevnik"/>
</message>
<message name="unosUDnevnikResponse">
<part name="parameters" element="tns:unosUDnevnikResponse"/>
</message>
<message name="podaciOAvionima">
<part name="parameters" element="tns:podaciOAvionima"/>
</message>
<message name="podaciOAvionimaResponse">
<part name="parameters" element="tns:podaciOAvionimaResponse"/>
</message>
<message name="dajZadnjeAvione">
<part name="parameters" element="tns:dajZadnjeAvione"/>
</message>
<message name="dajZadnjeAvioneResponse">
<part name="parameters" element="tns:dajZadnjeAvioneResponse"/>
</message>
<message name="podaciUIntervalu">
<part name="parameters" element="tns:podaciUIntervalu"/>
</message>
<message name="podaciUIntervaluResponse">
<part name="parameters" element="tns:podaciUIntervaluResponse"/>
</message>
<message name="dodajKorisnika">
<part name="parameters" element="tns:dodajKorisnika"/>
</message>
<message name="dodajKorisnikaResponse">
<part name="parameters" element="tns:dodajKorisnikaResponse"/>
</message>
<message name="dajZadnjiAvion">
<part name="parameters" element="tns:dajZadnjiAvion"/>
</message>
<message name="dajZadnjiAvionResponse">
<part name="parameters" element="tns:dajZadnjiAvionResponse"/>
</message>
<message name="ucitajKonfiguraciju">
<part name="parameters" element="tns:ucitajKonfiguraciju"/>
</message>
<message name="ucitajKonfiguracijuResponse">
<part name="parameters" element="tns:ucitajKonfiguracijuResponse"/>
</message>
<message name="preuzmiNazivAerodroma">
<part name="parameters" element="tns:preuzmiNazivAerodroma"/>
</message>
<message name="preuzmiNazivAerodromaResponse">
<part name="parameters" element="tns:preuzmiNazivAerodromaResponse"/>
</message>
<message name="postojiKorisnikUBazi">
<part name="parameters" element="tns:postojiKorisnikUBazi"/>
</message>
<message name="postojiKorisnikUBaziResponse">
<part name="parameters" element="tns:postojiKorisnikUBaziResponse"/>
</message>
<message name="vazeciMeteoPodaci">
<part name="parameters" element="tns:vazeciMeteoPodaci"/>
</message>
<message name="vazeciMeteoPodaciResponse">
<part name="parameters" element="tns:vazeciMeteoPodaciResponse"/>
</message>
<message name="izracunajUdaljenost">
<part name="parameters" element="tns:izracunajUdaljenost"/>
</message>
<message name="izracunajUdaljenostResponse">
<part name="parameters" element="tns:izracunajUdaljenostResponse"/>
</message>
<message name="dohvatiPodatkeAerodrom">
<part name="parameters" element="tns:dohvatiPodatkeAerodrom"/>
</message>
<message name="dohvatiPodatkeAerodromResponse">
<part name="parameters" element="tns:dohvatiPodatkeAerodromResponse"/>
</message>
<message name="dohvatiIcaoAerodroma">
<part name="parameters" element="tns:dohvatiIcaoAerodroma"/>
</message>
<message name="dohvatiIcaoAerodromaResponse">
<part name="parameters" element="tns:dohvatiIcaoAerodromaResponse"/>
</message>
<message name="dohvatiPodatkeAerodromUListu">
<part name="parameters" element="tns:dohvatiPodatkeAerodromUListu"/>
</message>
<message name="dohvatiPodatkeAerodromUListuResponse">
<part name="parameters" element="tns:dohvatiPodatkeAerodromUListuResponse"/>
</message>
<message name="dodatnoUdaljenostOd">
<part name="parameters" element="tns:dodatnoUdaljenostOd"/>
</message>
<message name="dodatnoUdaljenostOdResponse">
<part name="parameters" element="tns:dodatnoUdaljenostOdResponse"/>
</message>
<message name="dodatnoUdaljenostAerodroma">
<part name="parameters" element="tns:dodatnoUdaljenostAerodroma"/>
</message>
<message name="dodatnoUdaljenostAerodromaResponse">
<part name="parameters" element="tns:dodatnoUdaljenostAerodromaResponse"/>
</message>
<message name="dohvatiListuKorisnika">
<part name="parameters" element="tns:dohvatiListuKorisnika"/>
</message>
<message name="dohvatiListuKorisnikaResponse">
<part name="parameters" element="tns:dohvatiListuKorisnikaResponse"/>
</message>
<message name="azurirajKorisnika">
<part name="parameters" element="tns:azurirajKorisnika"/>
</message>
<message name="azurirajKorisnikaResponse">
<part name="parameters" element="tns:azurirajKorisnikaResponse"/>
</message>
<portType name="AIRPWS">
<operation name="pretvoriUString">
<input wsam:Action="http://ws.mkolaric1.nwtis.foi.org/AIRPWS/pretvoriUStringRequest" message="tns:pretvoriUString"/>
<output wsam:Action="http://ws.mkolaric1.nwtis.foi.org/AIRPWS/pretvoriUStringResponse" message="tns:pretvoriUStringResponse"/>
</operation>
<operation name="unosUDnevnik">
<input wsam:Action="http://ws.mkolaric1.nwtis.foi.org/AIRPWS/unosUDnevnikRequest" message="tns:unosUDnevnik"/>
<output wsam:Action="http://ws.mkolaric1.nwtis.foi.org/AIRPWS/unosUDnevnikResponse" message="tns:unosUDnevnikResponse"/>
</operation>
<operation name="podaciOAvionima">
<input wsam:Action="http://ws.mkolaric1.nwtis.foi.org/AIRPWS/podaciOAvionimaRequest" message="tns:podaciOAvionima"/>
<output wsam:Action="http://ws.mkolaric1.nwtis.foi.org/AIRPWS/podaciOAvionimaResponse" message="tns:podaciOAvionimaResponse"/>
</operation>
<operation name="dajZadnjeAvione">
<input wsam:Action="http://ws.mkolaric1.nwtis.foi.org/AIRPWS/dajZadnjeAvioneRequest" message="tns:dajZadnjeAvione"/>
<output wsam:Action="http://ws.mkolaric1.nwtis.foi.org/AIRPWS/dajZadnjeAvioneResponse" message="tns:dajZadnjeAvioneResponse"/>
</operation>
<operation name="podaciUIntervalu">
<input wsam:Action="http://ws.mkolaric1.nwtis.foi.org/AIRPWS/podaciUIntervaluRequest" message="tns:podaciUIntervalu"/>
<output wsam:Action="http://ws.mkolaric1.nwtis.foi.org/AIRPWS/podaciUIntervaluResponse" message="tns:podaciUIntervaluResponse"/>
</operation>
<operation name="dodajKorisnika">
<input wsam:Action="http://ws.mkolaric1.nwtis.foi.org/AIRPWS/dodajKorisnikaRequest" message="tns:dodajKorisnika"/>
<output wsam:Action="http://ws.mkolaric1.nwtis.foi.org/AIRPWS/dodajKorisnikaResponse" message="tns:dodajKorisnikaResponse"/>
</operation>
<operation name="dajZadnjiAvion">
<input wsam:Action="http://ws.mkolaric1.nwtis.foi.org/AIRPWS/dajZadnjiAvionRequest" message="tns:dajZadnjiAvion"/>
<output wsam:Action="http://ws.mkolaric1.nwtis.foi.org/AIRPWS/dajZadnjiAvionResponse" message="tns:dajZadnjiAvionResponse"/>
</operation>
<operation name="ucitajKonfiguraciju">
<input wsam:Action="http://ws.mkolaric1.nwtis.foi.org/AIRPWS/ucitajKonfiguracijuRequest" message="tns:ucitajKonfiguraciju"/>
<output wsam:Action="http://ws.mkolaric1.nwtis.foi.org/AIRPWS/ucitajKonfiguracijuResponse" message="tns:ucitajKonfiguracijuResponse"/>
</operation>
<operation name="preuzmiNazivAerodroma">
<input wsam:Action="http://ws.mkolaric1.nwtis.foi.org/AIRPWS/preuzmiNazivAerodromaRequest" message="tns:preuzmiNazivAerodroma"/>
<output wsam:Action="http://ws.mkolaric1.nwtis.foi.org/AIRPWS/preuzmiNazivAerodromaResponse" message="tns:preuzmiNazivAerodromaResponse"/>
</operation>
<operation name="postojiKorisnikUBazi">
<input wsam:Action="http://ws.mkolaric1.nwtis.foi.org/AIRPWS/postojiKorisnikUBaziRequest" message="tns:postojiKorisnikUBazi"/>
<output wsam:Action="http://ws.mkolaric1.nwtis.foi.org/AIRPWS/postojiKorisnikUBaziResponse" message="tns:postojiKorisnikUBaziResponse"/>
</operation>
<operation name="vazeciMeteoPodaci">
<input wsam:Action="http://ws.mkolaric1.nwtis.foi.org/AIRPWS/vazeciMeteoPodaciRequest" message="tns:vazeciMeteoPodaci"/>
<output wsam:Action="http://ws.mkolaric1.nwtis.foi.org/AIRPWS/vazeciMeteoPodaciResponse" message="tns:vazeciMeteoPodaciResponse"/>
</operation>
<operation name="izracunajUdaljenost">
<input wsam:Action="http://ws.mkolaric1.nwtis.foi.org/AIRPWS/izracunajUdaljenostRequest" message="tns:izracunajUdaljenost"/>
<output wsam:Action="http://ws.mkolaric1.nwtis.foi.org/AIRPWS/izracunajUdaljenostResponse" message="tns:izracunajUdaljenostResponse"/>
</operation>
<operation name="dohvatiPodatkeAerodrom">
<input wsam:Action="http://ws.mkolaric1.nwtis.foi.org/AIRPWS/dohvatiPodatkeAerodromRequest" message="tns:dohvatiPodatkeAerodrom"/>
<output wsam:Action="http://ws.mkolaric1.nwtis.foi.org/AIRPWS/dohvatiPodatkeAerodromResponse" message="tns:dohvatiPodatkeAerodromResponse"/>
</operation>
<operation name="dohvatiIcaoAerodroma">
<input wsam:Action="http://ws.mkolaric1.nwtis.foi.org/AIRPWS/dohvatiIcaoAerodromaRequest" message="tns:dohvatiIcaoAerodroma"/>
<output wsam:Action="http://ws.mkolaric1.nwtis.foi.org/AIRPWS/dohvatiIcaoAerodromaResponse" message="tns:dohvatiIcaoAerodromaResponse"/>
</operation>
<operation name="dohvatiPodatkeAerodromUListu">
<input wsam:Action="http://ws.mkolaric1.nwtis.foi.org/AIRPWS/dohvatiPodatkeAerodromUListuRequest" message="tns:dohvatiPodatkeAerodromUListu"/>
<output wsam:Action="http://ws.mkolaric1.nwtis.foi.org/AIRPWS/dohvatiPodatkeAerodromUListuResponse" message="tns:dohvatiPodatkeAerodromUListuResponse"/>
</operation>
<operation name="dodatnoUdaljenostOd">
<input wsam:Action="http://ws.mkolaric1.nwtis.foi.org/AIRPWS/dodatnoUdaljenostOdRequest" message="tns:dodatnoUdaljenostOd"/>
<output wsam:Action="http://ws.mkolaric1.nwtis.foi.org/AIRPWS/dodatnoUdaljenostOdResponse" message="tns:dodatnoUdaljenostOdResponse"/>
</operation>
<operation name="dodatnoUdaljenostAerodroma">
<input wsam:Action="http://ws.mkolaric1.nwtis.foi.org/AIRPWS/dodatnoUdaljenostAerodromaRequest" message="tns:dodatnoUdaljenostAerodroma"/>
<output wsam:Action="http://ws.mkolaric1.nwtis.foi.org/AIRPWS/dodatnoUdaljenostAerodromaResponse" message="tns:dodatnoUdaljenostAerodromaResponse"/>
</operation>
<operation name="dohvatiListuKorisnika">
<input wsam:Action="http://ws.mkolaric1.nwtis.foi.org/AIRPWS/dohvatiListuKorisnikaRequest" message="tns:dohvatiListuKorisnika"/>
<output wsam:Action="http://ws.mkolaric1.nwtis.foi.org/AIRPWS/dohvatiListuKorisnikaResponse" message="tns:dohvatiListuKorisnikaResponse"/>
</operation>
<operation name="azurirajKorisnika">
<input wsam:Action="http://ws.mkolaric1.nwtis.foi.org/AIRPWS/azurirajKorisnikaRequest" message="tns:azurirajKorisnika"/>
<output wsam:Action="http://ws.mkolaric1.nwtis.foi.org/AIRPWS/azurirajKorisnikaResponse" message="tns:azurirajKorisnikaResponse"/>
</operation>
</portType>
<binding name="AIRPWSPortBinding" type="tns:AIRPWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="pretvoriUString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="unosUDnevnik">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="podaciOAvionima">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajZadnjeAvione">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="podaciUIntervalu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dodajKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajZadnjiAvion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ucitajKonfiguraciju">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="preuzmiNazivAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="postojiKorisnikUBazi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="vazeciMeteoPodaci">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="izracunajUdaljenost">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dohvatiPodatkeAerodrom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dohvatiIcaoAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dohvatiPodatkeAerodromUListu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dodatnoUdaljenostOd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dodatnoUdaljenostAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dohvatiListuKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="azurirajKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AIRPWS">
<port name="AIRPWSPort" binding="tns:AIRPWSPortBinding">
<soap:address location="http://localhost:8084/mkolaric1_aplikacija_1/AIRPWS"/>
</port>
</service>
</definitions>