mkolaric1_aplikacija_3_2/web/WEB-INF/wsdl/localhost_8084/mkolaric1_aplikacija_1/AIRPWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.mkolaric1.nwtis.foi.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.mkolaric1.nwtis.foi.org/">

<xs:element name="azurirajKorisnika" type="tns:azurirajKorisnika"/>

<xs:element name="azurirajKorisnikaResponse" type="tns:azurirajKorisnikaResponse"/>

<xs:element name="dajZadnjeAvione" type="tns:dajZadnjeAvione"/>

<xs:element name="dajZadnjeAvioneResponse" type="tns:dajZadnjeAvioneResponse"/>

<xs:element name="dajZadnjiAvion" type="tns:dajZadnjiAvion"/>

<xs:element name="dajZadnjiAvionResponse" type="tns:dajZadnjiAvionResponse"/>

<xs:element name="dodajKorisnika" type="tns:dodajKorisnika"/>

<xs:element name="dodajKorisnikaResponse" type="tns:dodajKorisnikaResponse"/>

<xs:element name="dodatnoUdaljenostAerodroma" type="tns:dodatnoUdaljenostAerodroma"/>

<xs:element name="dodatnoUdaljenostAerodromaResponse" type="tns:dodatnoUdaljenostAerodromaResponse"/>

<xs:element name="dodatnoUdaljenostOd" type="tns:dodatnoUdaljenostOd"/>

<xs:element name="dodatnoUdaljenostOdResponse" type="tns:dodatnoUdaljenostOdResponse"/>

<xs:element name="dohvatiIcaoAerodroma" type="tns:dohvatiIcaoAerodroma"/>

<xs:element name="dohvatiIcaoAerodromaResponse" type="tns:dohvatiIcaoAerodromaResponse"/>

<xs:element name="dohvatiListuKorisnika" type="tns:dohvatiListuKorisnika"/>

<xs:element name="dohvatiListuKorisnikaResponse" type="tns:dohvatiListuKorisnikaResponse"/>

<xs:element name="dohvatiPodatkeAerodrom" type="tns:dohvatiPodatkeAerodrom"/>

<xs:element name="dohvatiPodatkeAerodromResponse" type="tns:dohvatiPodatkeAerodromResponse"/>

<xs:element name="dohvatiPodatkeAerodromUListu" type="tns:dohvatiPodatkeAerodromUListu"/>

<xs:element name="dohvatiPodatkeAerodromUListuResponse" type="tns:dohvatiPodatkeAerodromUListuResponse"/>

<xs:element name="izracunajUdaljenost" type="tns:izracunajUdaljenost"/>

<xs:element name="izracunajUdaljenostResponse" type="tns:izracunajUdaljenostResponse"/>

<xs:element name="podaciOAvionima" type="tns:podaciOAvionima"/>

<xs:element name="podaciOAvionimaResponse" type="tns:podaciOAvionimaResponse"/>

<xs:element name="podaciUIntervalu" type="tns:podaciUIntervalu"/>

<xs:element name="podaciUIntervaluResponse" type="tns:podaciUIntervaluResponse"/>

<xs:element name="postojiKorisnikUBazi" type="tns:postojiKorisnikUBazi"/>

<xs:element name="postojiKorisnikUBaziResponse" type="tns:postojiKorisnikUBaziResponse"/>

<xs:element name="pretvoriUString" type="tns:pretvoriUString"/>

<xs:element name="pretvoriUStringResponse" type="tns:pretvoriUStringResponse"/>

<xs:element name="preuzmiNazivAerodroma" type="tns:preuzmiNazivAerodroma"/>

<xs:element name="preuzmiNazivAerodromaResponse" type="tns:preuzmiNazivAerodromaResponse"/>

<xs:element name="ucitajKonfiguraciju" type="tns:ucitajKonfiguraciju"/>

<xs:element name="ucitajKonfiguracijuResponse" type="tns:ucitajKonfiguracijuResponse"/>

<xs:element name="unosUDnevnik" type="tns:unosUDnevnik"/>

<xs:element name="unosUDnevnikResponse" type="tns:unosUDnevnikResponse"/>

<xs:element name="vazeciMeteoPodaci" type="tns:vazeciMeteoPodaci"/>

<xs:element name="vazeciMeteoPodaciResponse" type="tns:vazeciMeteoPodaciResponse"/>

<xs:complexType name="vazeciMeteoPodaci">
<xs:sequence>
<xs:element name="icao24" type="xs:string" minOccurs="0"/>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="vazeciMeteoPodaciResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteoPodaci" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="meteoPodaci">
<xs:sequence>
<xs:element name="cloudsName" type="xs:string" minOccurs="0"/>
<xs:element name="cloudsValue" type="xs:int"/>
<xs:element name="humidityUnit" type="xs:string" minOccurs="0"/>
<xs:element name="humidityValue" type="xs:float" minOccurs="0"/>
<xs:element name="lastUpdate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="precipitationMode" type="xs:string" minOccurs="0"/>
<xs:element name="precipitationUnit" type="xs:string" minOccurs="0"/>
<xs:element name="precipitationValue" type="xs:float" minOccurs="0"/>
<xs:element name="pressureUnit" type="xs:string" minOccurs="0"/>
<xs:element name="pressureValue" type="xs:float" minOccurs="0"/>
<xs:element name="sunRise" type="xs:dateTime" minOccurs="0"/>
<xs:element name="sunSet" type="xs:dateTime" minOccurs="0"/>
<xs:element name="temperatureMax" type="xs:float" minOccurs="0"/>
<xs:element name="temperatureMin" type="xs:float" minOccurs="0"/>
<xs:element name="temperatureUnit" type="xs:string" minOccurs="0"/>
<xs:element name="temperatureValue" type="xs:float" minOccurs="0"/>
<xs:element name="visibility" type="xs:string" minOccurs="0"/>
<xs:element name="weatherIcon" type="xs:string" minOccurs="0"/>
<xs:element name="weatherNumber" type="xs:int"/>
<xs:element name="weatherValue" type="xs:string" minOccurs="0"/>
<xs:element name="windDirectionCode" type="xs:string" minOccurs="0"/>
<xs:element name="windDirectionName" type="xs:string" minOccurs="0"/>
<xs:element name="windDirectionValue" type="xs:float" minOccurs="0"/>
<xs:element name="windSpeedName" type="xs:string" minOccurs="0"/>
<xs:element name="windSpeedValue" type="xs:float" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="azurirajKorisnika">
<xs:sequence>
<xs:element name="korisnik" type="tns:korisnik" minOccurs="0"/>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="korisnik">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="ime" type="xs:string" minOccurs="0"/>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="prezime" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="azurirajKorisnikaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajZadnjiAvion">
<xs:sequence>
<xs:element name="icao" type="xs:string" minOccurs="0"/>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajZadnjiAvionResponse">
<xs:sequence>
<xs:element name="return" type="tns:avionLeti" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="avionLeti">
<xs:sequence>
<xs:element name="arrivalAirportCandidatesCount" type="xs:int"/>
<xs:element name="callsign" type="xs:string" minOccurs="0"/>
<xs:element name="departureAirportCandidatesCount" type="xs:int"/>
<xs:element name="estArrivalAirport" type="xs:string" minOccurs="0"/>
<xs:element name="estArrivalAirportHorizDistance" type="xs:int"/>
<xs:element name="estArrivalAirportVertDistance" type="xs:int"/>
<xs:element name="estDepartureAirport" type="xs:string" minOccurs="0"/>
<xs:element name="estDepartureAirportHorizDistance" type="xs:int"/>
<xs:element name="estDepartureAirportVertDistance" type="xs:int"/>
<xs:element name="firstSeen" type="xs:int"/>
<xs:element name="icao24" type="xs:string" minOccurs="0"/>
<xs:element name="lastSeen" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dodatnoUdaljenostOd">
<xs:sequence>
<xs:element name="icao" type="xs:string" minOccurs="0"/>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="pocetnaUdaljenost" type="xs:double"/>
<xs:element name="krajnaUdaljenost" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dodatnoUdaljenostOdResponse">
<xs:sequence>
<xs:element name="return" type="tns:aerodrom" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aerodrom">
<xs:sequence>
<xs:element name="drzava" type="xs:string" minOccurs="0"/>
<xs:element name="icao" type="xs:string" minOccurs="0"/>
<xs:element name="lokacija" type="tns:lokacija" minOccurs="0"/>
<xs:element name="naziv" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lokacija">
<xs:sequence>
<xs:element name="latitude" type="xs:string" minOccurs="0"/>
<xs:element name="longitude" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="unosUDnevnik">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="unosUDnevnikResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="postojiKorisnikUBazi">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="postojiKorisnikUBaziResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dohvatiPodatkeAerodrom">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dohvatiPodatkeAerodromResponse">
<xs:sequence>
<xs:element name="return" type="tns:aerodrom" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dodatnoUdaljenostAerodroma">
<xs:sequence>
<xs:element name="icaoPocetni" type="xs:string" minOccurs="0"/>
<xs:element name="icaoKraj" type="xs:string" minOccurs="0"/>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dodatnoUdaljenostAerodromaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="podaciOAvionima">
<xs:sequence>
<xs:element name="icao24" type="xs:string" minOccurs="0"/>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="odVremena" type="xs:string" minOccurs="0"/>
<xs:element name="doVremena" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="podaciOAvionimaResponse">
<xs:sequence>
<xs:element name="return" type="tns:avionLeti" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajZadnjeAvione">
<xs:sequence>
<xs:element name="broj" type="xs:int"/>
<xs:element name="icao" type="xs:string" minOccurs="0"/>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajZadnjeAvioneResponse">
<xs:sequence>
<xs:element name="return" type="tns:avionLeti" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dodajKorisnika">
<xs:sequence>
<xs:element name="korisnik" type="tns:korisnik" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dodajKorisnikaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ucitajKonfiguraciju">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ucitajKonfiguracijuResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="izracunajUdaljenost">
<xs:sequence>
<xs:element name="arg0" type="tns:lokacija" minOccurs="0"/>
<xs:element name="arg1" type="tns:lokacija" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="izracunajUdaljenostResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dohvatiIcaoAerodroma">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dohvatiIcaoAerodromaResponse">
<xs:sequence>
<xs:element name="return" type="tns:aerodrom" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="preuzmiNazivAerodroma">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="preuzmiNazivAerodromaResponse">
<xs:sequence>
<xs:element name="return" type="tns:aerodrom" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pretvoriUString">
<xs:sequence>
<xs:element name="icao24" type="xs:string" minOccurs="0"/>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="odVremena" type="xs:string" minOccurs="0"/>
<xs:element name="doVremena" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pretvoriUStringResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="podaciUIntervalu">
<xs:sequence>
<xs:element name="icao24" type="xs:string" minOccurs="0"/>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="odVremena" type="xs:string" minOccurs="0"/>
<xs:element name="doVremena" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="podaciUIntervaluResponse">
<xs:sequence>
<xs:element name="return" type="tns:avionLeti" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dohvatiPodatkeAerodromUListu">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="dohvatiPodatkeAerodromUListuResponse">
<xs:sequence>
<xs:element name="return" type="tns:aerodrom" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dohvatiListuKorisnika">
<xs:sequence>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dohvatiListuKorisnikaResponse">
<xs:sequence>
<xs:element name="return" type="tns:korisnik" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>